<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Our Hello World!</title>
</head>
<body>
<center>
    <h2 th:text="${msg}"></h2> <br>
    <div>
    <h1>Information User Detail Use Variable Expressions</h1>
        <h3>Name: <span th:text="${user.name}"></span></h3>
        <h3>City: <span th:text="${user.city}"></span></h3>
    </div>
    <div th:object="${user}">
    <h1>Information User Detail Use Selection Expressions</h1>
        <h3>Name: <span th:text="*{name}"></span></h3>
        <h3>City: <span th:text="*{city}"></span></h3>
    </div>
    <br>
    <a th:href="@{/welcome}"> welcome page </a>
    <a th:href="@{hello/{id}(id=${id})"> welcome page with param</a>
</center>
</body>
</html>