<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Switch case thymeleaf example</h1>
    <hr>
    <div th:switch="${user.role}">
        <h1 th:case="1">Hi <span th:text="${user.name}"></span>, User is an admin</h1>
        <h1 th:case="2">Hi <span th:text="${user.name}"></span>, User is an originally user</h1>
        <h1 th:case="*">Hi <span th:text="${user.name}"></span>, User is an unauthorized</h1>
    </div>
</body>
</html>